@import "./../../../styles/_colors.scss";
@import "./../../../styles/_dimensions.scss";

div.card-header {
  z-index: +2;
  width: 100%;
  height: $card-header-height;
  position: relative;
  border-radius:none;
  div.card-header-title {
    float: left;
    text-align: left;
    p {
      opacity: 0.6;
      padding: 0;
      margin: 0;
    }
  }
  div.card-header-icon {
    float: right;
    text-align: right;
  }
}

.card-header {
  &.success {
    background-color: rgb(23, 146, 23);
  }
  &.primary {
    background-color: rgb(16, 140, 189);
  }

  &.warning {
    background-color: rgb(240, 157, 33);
  }
  &.danger {
    background-color: rgb(233, 27, 27);
  }
}
