@import "./../../../styles/_colors.scss";
@import "./../../../styles/_dimensions.scss";

div.card-time {
  position: absolute;
  top: 0;
  left: 0;
  height: $card-content-height;
  width: 100%;
  .time-total {
    height: 80px;
    //background-color: red;
    .legend {
      width: 80px;
      opacity: 0.5;
    }
  }
  .chart-div {
    height: 80px;
    //background-color: gold;
    .chart-wrapper {
      height: 30px;
      background: darken($color-gray, 10%);
    }
  }
}
