@import "./../../styles/_animations.scss";
@import "./../../styles/_colors.scss";

$breadcrumb-height: 20px;

.breadcrumb {
  color: #fff;
  font-family: "Open Sans", sans-serif;
  height: $breadcrumb-height;
  font-weight: 400;
  letter-spacing: -0.01em;
  font-size: 1.3em;
  .icon {
    line-height: 1em;
    opacity: 0.4;
  }
  div.count {
    height: 26px;
    width: 26px;
    border-radius: 50%;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 0.7em;
    color: #fff;
    text-decoration: none;
    &.total {
      background: darken($color-base, 7%);
    }
    &.completed {
      background: $primary;
    }
    &.success {
      background: $success;
    }
    &.warning {
      background: $warning;
    }
    &.danger {
      background: $danger;
    }
  }
}
