
@import "./../../styles/_colors.scss";
@import "./../../styles/_dimensions.scss";

div.card {
  border:none;
  border: radius 0px!important;
}

div.card-content {
  position: relative;
  top: 0;
  left: 0;
  height: $card-content-height;
  transition: transform 250ms ease;
  cursor: pointer;
}

div.card-content {
background-color: $card-gray;
}





div.card-buttons {
  z-index: +2;
  width: 100%;
  height: $card-button-height;
  div.card-button-icon {
    width: 100%;
    height: $card-button-height;
  }
}

div.card-button-icon {
  opacity: 0.7;
  background: rgba(0, 0, 0, 0.2);
  transition: all 0.1s;
  &:hover {
    opacity: 1;
  }
}