@import "./../../styles/_animations.scss";
@import "./../../styles/_colors.scss";

.nav-icon-link[reaction="1"] {
  animation: expand-big 0.3s 1;
}

$navbar-height: 80px;

$logo-block-height: 22px;

nav.navbar {
  height: $navbar-height;
  .container {
    height: $navbar-height;
    a.navbar-brand {
      .logo-block {
        height: $logo-block-height;
        img {
          height: $logo-block-height;
        }
        div.assure {
          height: $logo-block-height;
          font-family: "Hind", sans-serif;
          font-weight: 200;
          letter-spacing: -0.01em;
          line-height: 100%;
          font-size: 1.5em;
          margin-left:12px;
          .tm {
            height: $logo-block-height;
            font-size: 0.6em;
            font-weight: 100;
            top: 0;
          }
        }
      }
    }
    a.nav-link {
      font-family: "Hind", sans-serif;
      font-weight: 300;
      letter-spacing: 0.02em;
      font-size: 1.1em;
      text-decoration: none;
    }
  }
}

nav.navbar {
  background: transparentize($color-base, 0.3);
  .container {
    a.navbar-brand {
      div.assure {
        color: $color-contrast;
      }
    }
    a.nav-link {
      color: #fff;
      opacity: 0.6;
      transition: all 0.1s;
      &:hover {
        opacity: 1;
      }
    }
  }
}

// nav.navbar {
//   background: gold;
//   .container {
//     background: red;
//     a.navbar-brand {
//       span {
//         font-size: 1.3em;
//         color: $color-contrast;
//       }
//     }
//     .nav-item {
//     }
//   }
// }
