@import "./../../../styles/_colors.scss";
@import "./../../../styles/_dimensions.scss";

div.card-image {
  position:absolute;
  top: 0;
  left: 0;
  height: $card-content-height;
  width: 100%;
  background-position: center;
  background-size: cover;
}
