@import "./../../../styles/_colors.scss";
@import "./../../../styles/_dimensions.scss";

div.card-download {
  position: absolute;
  top: 0;
  width: 100%;
  height: $card-content-height;
  div.report-box {
    opacity: 0.7;
    position: relative;
    height: 80px;
    width: auto;
    border-radius: 3px;
    background: darken($color-gray, 15%);
    div.download-text {
      margin-left: 14px;
      div {
        opacity: 0.6;
      }
    }
    &:hover {
      opacity: 1;
    }
  }
  .download-carat {
    position: absolute;
    bottom: 46px;
  }
}
